@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  letter-spacing: 1px;
}
h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #203966;
}
h3 {
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
}
h4 {
  color: #fff;
  padding-top: 40px;
}

span {
  background-color: #86eca5;
  color: #203966;
}

p {
  color: #203966;
  padding-top: 10px;
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
  margin-left: 40px;
}

body {
  font-family: sans-serif;
}

/*****HEADER*****/

header {
  display: grid;
  grid-template-columns: 50% 50%;
  background: #6b52e6;
}

header h2 {
  padding-bottom: 20px;
}

header p {
  color: #fff;
  font-size: 1.2rem;
}

.imgPng img {
  height: 300px;
}

/*****SECTION*****/

section {
  display: grid;
  grid-template-columns: 50% 50%;
}

section ul {
  padding-top: 10px;
  color: #203966;
  font-family: "Roboto", sans-serif;
}

.tag {
  width: 90%;
}

/*****FOOTER*****/

footer {
  background: #203966;
  padding-top: 40px;
  padding-bottom: 40px;
}

footer p {
  color: #fff;
  font-size: 1.2rem;
}
footer li {
  display: inline-block;
  color: #fff;
  font-size: 4rem;
  padding: 10px;
  margin: 20px;
  background: #4376b9;
  margin-left: -1px;
}

footer ul {
  padding-inline-start: 0%;
}

@media screen and (max-width: 989px) {
  .tag img {
    width: 100%;
  }

  footer li {
    font-size: 2rem;
  }
}
